
/* ============================
   FILTROS
============================ */
.filtros {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 85%;
    max-width: 1100px;
    margin: 30px auto 30px auto;
}

.acoes {
    margin-left: auto;
    display: flex;
    margin-top: 30px;
    gap: 15px;
}

.btn-filtro {
    padding: 10px 18px;
    margin-top: 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: #d68fff;
    color: white;
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.btn-filtro:hover {
    background: white;
    color: #d68fff;
    border: 2px solid #d68fff;
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.btn-add {
    background: #d68fff;
    color: white;
    padding: 10px 18px;
    border-radius: 15px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.btn-add:hover {
    background: white;
    color: #d68fff;
    border: 2px solid #d569ff;
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

/* botão delete normal */
.btn-delete {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 6px 10px;
    cursor: pointer;
    transition: 0.2s;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

/* hover normal (fora do modo delete) */
.btn-delete:hover {
    background: #f2f2f2;
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(80, 14, 14, 0.15);
}

/* MODO DELETE ATIVO */
.btn-delete.ativo {
    background: #ff4d4d;
    border-color: #cc0000;
    transform: scale(1.05);
}

/* ícone dentro do botão quando ativo (se for imagem) */
.btn-delete.ativo img {
    filter: brightness(0) invert(1);
}

/* ============================
   MODAL
============================ */

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 320px;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn-modal-add {
    width: 100%;
    padding: 12px;
    background: #ff7a26;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}


/* ============================
   MAIN
============================ */

main {
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 50px;
}

.hero-sobre {
  text-align: left;
  margin-bottom: 50px;
  width: 85%;            
  max-width: 1100px;     
  margin: 0 auto; 
}
.hero-sobre h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.hero-sobre h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}

/* Middle */

#middle{
  background: #d9d9d9;
  padding: 20px;
  border-radius: 10px;
  width: 85%;            
  max-width: 1100px;     
  margin: 0 auto; 
  height: 200px;
}

.category-card {
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 90px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  cursor: pointer;
}


