@font-face {
    font-family: 'SquareFont';
    src: url('../fonts/Square.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Helvetica Normal */
@font-face {
    font-family: 'HelveticaCustom';
    src: url('../fonts/Helvetica.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Helvetica Light */
@font-face {
    font-family: 'HelveticaLight';
    src: url('../fonts/Helvetica Light Regular.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/*----------------------------------------------------------------*/

body {
    margin: 0;
    font-family: 'HelveticaCustom';
}

/* ============================
   NAVBAR
============================ */
.navbar {
  position: fixed;     
  top: 20px;            
  left: 50%;            
  transform: translateX(-50%); 
  
  width: 85%;           
  max-width: 1100px;    
  
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: rgb(255, 162, 0);
  padding: 2px 30px;
  border-radius: 50px;  
  backdrop-filter: blur(8px); 
  box-shadow: 0 10px 10px rgba(126, 126, 126, 0.3);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  margin: 0 ; 
}
.link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px 10px;     
  border-radius: 50px;   
  transition: background 0.3s ease;
}
.link:hover, .link.active {
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
}

.logo {
  display: flex;       
  align-items: center;   
  justify-content: flex-start; 
  gap: 10px;           
}

.logo img {
  height: 40px;       
  width: auto;
  display: block;        
  margin: 0;            
}

.logo-link {
  display: flex;         
  align-items: center;   
  text-decoration: none; 
  border: none;          
  outline: none;
}

.logo-text {
  font-family: 'SquareFont';
  font-size: 30px;
  margin-top: 7px;
  color: white;          
  white-space: nowrap;   
  margin-left: 15px;    
  text-decoration: none; 
}

/* Ícone hambúrguer */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.hamburger span {
    width: 28px;
    height: 3px;
    background: white;
    border-radius: 3px;
}

@media (max-width: 1130px) {

    .nav-links {
      display: none !important;
    }
    .logo-text {
      display: none;
    }

    .hamburger {
      display: flex !important;
    }
}

/* ============================
   GRID
============================ */

.container {
  display: grid;

  grid-template-areas:
    "tarefas tarefas categorias"
    "ferramentas ferramentas ferramentas";

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;

  gap: 20px;

  width: 85%;
  max-width: 1100px;
  margin: 75px auto 100px auto;
}

/* Caixas gerais */
.box {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: center; */
  
}

/* Botões gerais */
.box button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  font-weight: 400;
  transition: 0.3s ease;
}

/* Áreas principais */
.tarefas {
  grid-area: tarefas;
  background-color: #c6c6c6;
  height: 400px;
  gap: 10px;
  overflow-y: auto;          
  overflow-x: hidden;
  scrollbar-width: none
}

.categorias {
  gap: 10px;
  grid-area: categorias;
  background-color: #c6c6c6;
  height: 400px;
  overflow-y: auto;          
  overflow-x: hidden;
  scrollbar-width: none
}

.btn-link {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #464646;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s ease;
}

.categorias .btn-link {
  background-color: #464646;
}

.categorias .btn-link:hover {
  background-color: #ecefec;
  color: #464646;
;
}

.tarefas .btn-link:hover {
  background-color: #ecefec;
  color: #464646;
}

/* GRID das ferramentas */
.ferramentas {
  grid-area: ferramentas;
  height: 130px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.ferramentas a {
  text-decoration: none;
}

/* Classes individuais das ferramentas */
.ferramenta-calendario {
  background-image: url("../images/Calendário.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ferramenta-pomodoro {
  background-image: url("../images/Pomodoro.png");
  background-position: center;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ferramenta-diario {
  background-image: url("../images/Diário.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botões das ferramentas*/
.ferramenta-calendario button {
  background: #ff8800;
  color: #fff;
}

.ferramenta-pomodoro button {
  background: #f74130;
  color: #fff;
}

.ferramenta-diario button {
  background: #b28dff;
  color: #fff;
}

/* HOVER — só nas ferramentas */
.ferramenta-calendario:hover button {
  background: #ffffff;
  color: #ff8800;
}

.ferramenta-pomodoro:hover button {
  background: #ffffff;
  color: #ff0000;
}

.ferramenta-diario:hover button {
  background: #ffffff;
  color: #b28dff;
}

/* Animação Box*/
.ferramenta-calendario,
.ferramenta-pomodoro,
.ferramenta-diario {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.ferramenta-calendario:hover,
.ferramenta-pomodoro:hover,
.ferramenta-diario:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  cursor: pointer;
}

/* ============================
   BANNER
============================ */

.banner-extensao {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: -30px;
}

.banner-content {
  width: 100%;
  max-width: 1100px;
  padding: 30px;
  background: linear-gradient(90deg, #ff8a00, #b06cff);
  border-radius: 20px;
  color: white;
}

.banner-content h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.banner-content p {
  font-size: 15px;
  margin-bottom: 20px;
  max-width: 600px;
}

.btn-banner {
  background: #b06cff;
  padding: 12px 25px;
  border-radius: 12px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn-banner:hover {
  background: #ffffff;
  color: #b06cff;
}

/* ============================
   MAIN
============================ */

#main {
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 10px;
}

.hero-sobre {
  text-align: left;
  width: 85%;            
  max-width: 1100px;     
  margin: 20px auto; 
}
.hero-sobre h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

/* ============================
   FOOTER
============================ */

.footer {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
    font-family: 'HelveticaCustom';
}

.footer-center a {
    margin-left: 50px;
    font-size: 15px;
    color: black;
}

@media (max-width: 768px) {

    .footer {
        padding: 0 30px;
        height: 60px;
    }

    .footer a,
    .footer-center a {
        color: black !important;  
        font-size: 10px;         
        margin-left: 20px;       
    }
    .footer span {
        font-size: 12px
    }
}

/* ^categorias */
.card{
  width: 100%; 
  border-radius: 12px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  cursor: pointer;
}

/* ============================
   TAREFAS
============================ */
.coluna {
    flex: 1;
}

.tarefa:hover{
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  cursor: pointer;
}

/* Caixa geral */
.lista-tarefas {

    border-radius: 15px;
    overflow: hidden;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
   
}

/* Área onde as tarefas são adicionadas */
.lista-conteudo {
    padding: 0px;
    flex: 1;
    
}

/* Tarefa */
.tarefa {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 12px 15px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.tarefa .texto {
    flex: 1;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.yellow { background: #ffb347; }
.red { background: #c90404; }
.green { background: #1bb60a; }

/*CheckBox*/
.check {
    width: 24px;
    height: 24px;
    cursor: pointer;
    accent-color: #5675ff;
}

/* ============================
   MODAL
============================ */

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Caixa da modal */
.modal-content {
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    width: 330px;
    border: 1px solid #e5e5e5;
}

/* Títulos */
.modal-content h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #333;
}

.modal-content h5 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #555;
}

/* Texto da descrição na modal de detalhes */
.modal-content p {
    background: #f4f4f4;
    padding: 10px 12px;
    border-radius: 10px;
    font-size: 14px;
    color: #444;
    border: 1px solid #ddd;
    line-height: 1.4;
}


/* ============================
   RESPONSIVIDADE MAIN
============================ */

@media (max-width: 1130px) {

  /* GRID PRINCIPAL */
  .container {
    grid-template-areas:
      "tarefas"
      "categorias"
      "ferramentas";
    grid-template-columns: 1fr;
    gap: 20px;
    width: 90%;
    margin-top: 120px;
  }

  .tarefas,
  .categorias {
    height: auto;
    min-height: 300px;
  }

  .ferramentas {
    grid-template-columns: 1fr;
    height: auto;
  }

  .ferramentas a {
    height: 130px;
  }

  /* BANNER */
  .banner-extensao {
    width: 100%;
    margin-top: 0;
  }

  .banner-content {
    width: 90%;
    padding: 25px;
  }

  .banner-content h2 {
    font-size: 26px;
  }

  .banner-content p {
    font-size: 14px;
  }

  .btn-banner {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {


  /* GRID */
  .container {
    width: 92%;
    gap: 15px;
    margin-top: 100px;
  }

  .box {
    padding: 15px;
  }

  .btn-link {
    font-size: 16px;
    padding: 8px 15px;
  }

  /* FERRAMENTAS */
  .ferramentas a {
    height: 100px;
  }

  .ferramentas button {
    font-size: 15px;
  }

  /* BANNER */
  .banner-content {
    padding: 20px;
  }

  .banner-content h2 {
    font-size: 22px;
  }

  .banner-content p {
    font-size: 13px;
  }

  .btn-banner {
    font-size: 14px;
    padding: 8px 18px;
  }
}


 